body{
    background: #f0e7e9;
    padding: 18vh 8vw 15vh;
}

nav.ui.menu{
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    padding: 2rem 4rem;
    background: transparent !important;
    border: none;
    box-shadow: none;
}

#logo{
    width: 80px;
    transform: rotateZ(15deg);
}

.buttons{
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.ui.button{
    margin: auto 10px;
    padding: 10px 20px;
}


.secondary.menu .ui.button{
    padding: 10px 15px 10px 50px !important;
}

#run{
    padding: 10px 20px;
}

.eight.wide.column{
    position: relative;
    height: 80vh;
}

textarea, #output, code{
    height: 70vh;
    width: 39vw;
    padding: 5%;
    border: none;
    line-height: 1.4285em;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: monospace;
    overflow: auto;
    font-size: 1em;
    tab-size: 4;
}

::placeholder {
    color: #adbac7;
    opacity: 1;
}

:-ms-input-placeholder {
    color:#adbac7;
}

::-ms-input-placeholder {
    color: #adbac7;
}

pre code.hljs{
    padding: 5%;
}

pre{
    margin: 0;
}

textarea{
    background: transparent;
    z-index: 1;
    color: transparent;
    caret-color: limegreen;
    resize: none;
}

#output{
    background: #22221b;
    color: limegreen;
}

code{
    z-index: 0;
}

.hljs{
    background: #392f36;
}

textarea:focus {
    outline: none;
}

.ui.labeled.icon.menu{
    display: none;
}

#hamburger{
    display: none;
}

footer{
    text-align: center;
    color: #d30001;
    padding: 30px;
    font-family: 'Cutive Mono', monospace;
    font-size: 1.2rem;
}

/* svg logo style*/
.cls-1 {
    fill: #cd0000;
}

.cls-2 {
    fill: #f77274;
}

.cls-3 {
    fill: #7b0000;
}

.cls-4 {
    fill: #fa191d;
}

.cls-5 {
    fill: #8f0000;
}

.cls-6 {
    fill: #fff;
}

.cls-7 {
    fill: #654fef;
}

.cls-8 {
    fill: #16213e;
}

@media screen and (max-width: 540px) {
    body{
        min-height: 100vh;
    }

    nav.ui.menu{
        padding: 20px 10px 20px 20px;
    }

    .secondary.menu button{
        display: none;
    }

    #logo{
        width: 60px;
    }

    .column{
        height: 320px !important;
    }

    textarea, #output, #code{
        width: 90%;
        height: 90%;
    }

    #output{
        top: 45%;
    }

    .buttons button{
        display: none !important;
    }

    .buttons{
        left: initial;
        top: 85px;
        right: -7.5%;
    }

    #run{
        display: block !important;
    }

    .ui.labeled.icon.menu{
        display: flex;
        background: #f0e7e9  !important;
        border: none;
        box-shadow: none !important;
    }

    .ui.labeled.icon.menu .item{
        min-width: 4rem;
    }

    #mobile-menu{
        scale: 0;
    }

    .ui.menu .item{
        padding: 0.5rem;
    }

    .ui.menu .item::before{
        background: transparent;
    }

    #hamburger{
        display: block;
    }

    footer{
        font-size: 1rem;
        padding-bottom: 3rem;
    }
}